In [1]:
import pandas as pd
pd.set_option('max_rows', 5)
print("Setup complete.")

Setup complete.

In [2]:
fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits

   Apples  Bananas
0      30       21

In [8]:
fruit_sales = (pd.DataFrame({'Apples': [30], 'Bananas': [21]}, index = ['2017 Sales', '2018 Sales']))
fruit_sales

            Apples  Bananas
2017 Sales      30       21
2018 Sales      30       21

In [10]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'], index = ['Flour', 'Milk', 'Eggs','Spam'], name = 'Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object